body {
    background-color: rgb(14, 14, 14);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#note-input {
    width: 150px;
    height: 60px;
    margin: 20px;
}

#note-content {
    width: 400px;
    height: 280px;
    resize: none;
    border-radius: 30px;
    padding: 20px;
}

.note-display {
    justify-content: center;
    background-color: black;
}

.btn-supp {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: brown;
    position: relative;
}

.btn-note {
    margin: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: brown;
}